<configuration debug="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <property name="loggingPattern"
              value="%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}, %X{userId}] ){'- \[, , \] ',''}- %m%n"/>

    <appender name="metrics" class="io.prometheus.client.logback.InstrumentedAppender"/>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>
</configuration>
